@page "/forms"
@inject HttpClient Http

<h3>Available Forms</h3>

@if (formFiles == null)
{
    <p>Loading...</p>
}
else if (formFiles.Count == 0)
{
    <p>No forms available.</p>
}
else
{
    <ul>
        @foreach (var formFile in formFiles)
        {
			<li><NavLink href="@($"morphiform?file={formFile.FileName}")">@formFile.DisplayText</NavLink></li>
        }
    </ul>
}

@code {
    private List<FormFile> formFiles = new List<FormFile>();

    protected override async Task OnInitializedAsync()
    {
        formFiles = await LoadJsonFileNamesAsync();
    }

    private async Task<List<FormFile>> LoadJsonFileNamesAsync()
    {
		string path = "sample-data/formFiles.json";
        var files = await Http.GetFromJsonAsync<List<FormFile>>(path);
        return files ?? new List<FormFile>();
    }

    public class FormFile
    {
        public string DisplayText { get; set; } = string.Empty;
        public string FileName { get; set; } = string.Empty;
    }
}