@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="col-sm-6">
		<h1>Hello! Welcome to MorphiForms</h1>

		<p>
			This web app, built using Blazor WebAssembly, Mud Blazor and C#, was created by none other than
			<a href="https://bremmer.ca">Chris Bremmer</a> in the bustling metropolis of Summerland, BC.
		</p>
		<p>
			The objective of this project was to design and implement a dynamic web-based form generator
			capable of rendering a form based on a JSON confguration. The application should handle the
			following:
			<ol>
				<li>
					Render Forms: Dynamically generate and display a form defned by the provided JSON
					structure.
				</li>
				<li>Data Collection: Collect user input values entered into the form felds.</li>
				<li>
					Validation: Apply basic and custom validation rules to the input felds, such as required
					felds, email formatting, and number range checks.
				</li>
				<li>Generate Response: Return the collected form data as a JSON object upon submission.</li>
			</ol>
		</p>
		<p>Considering my last <em>Technical Assesment</em> project was to get .Net Core 9 and Classic ASP to play nicely together, this should be pretty fun!</p>
	</div>
	<div class="col-sm-6">
		<img id="logo" alt="MorphiForms logo" src="images/logo.png" />
	</div>
</div>
